@model RealEstatePro.Models.Advertisement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">

        <div class="row">
            <!--Filtreleme-->
            <div class="col-md-3">
                <br />
                <!--Filtreleme-->
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">En Az </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="En Az(fiyat)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">En Cok </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="En Cok(fiyat)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Şehir </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="Şehir">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Semt </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="Semt">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Mahalla </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="Mahalla">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Durum </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="Durum">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label">Tip </label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" palceholder="Tip">
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="" class="col-sm-4 control-label"> </label>
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Filitreleme</button>
                        </div>
                    </div>
                </form>
            </div>




            <br />
            <div class="col-md-9">
                <div class="thumbnail" style="width:845px">


                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"> <a href="/Admin/Index"> Admin Panel</a></li>,,
                            <li class="breadcrumb-item"> <a href="/Advertisement/Index"> Adv List</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Adv Details</li>
                        </ol>
                    </nav>

                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            Description :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        <hr />
                        <dt>
                            Price :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <hr />
                        <dt>
                            NumOfRoom :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumOfRoom)
                        </dd>
                        <hr />
                        <dt>
                            NumOfBath :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumOfBath)
                        </dd>
                        <hr />
                        <dt>
                            Credit :
                        </dt>

                        <dd>
                            @if (Model.Credit == true)
                            {
                                <label class="labale label-success">Yes</label>
                            }
                            else
                            {
                                <label class="labale label-danger">No</label>
                            }
                        </dd>
                        <hr />
                        <dt>
                            Area :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Area)
                        </dd>
                        <hr />
                        <dt>
                            Floor :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Floor)
                        </dd>
                        <hr />
                        <dt>
                            Feature :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Feature)
                        </dd>
                        <hr />
                        <dt>
                            Telephone :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telephone)
                        </dd>
                        <hr />
                        <dt>
                            Addres :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Addres)
                        </dd>
                        <hr />
                        <dt>
                            UserName :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <hr />

                    </dl>

                    <hr />
                    <a style="margin-left:50px; margin-bottom:10px;" class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.AdvId })">Edit</a>  ||
                    <a style="margin-bottom: 10px;" class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.AdvId })">Delete</a>

                </div>

            </div>

        </div>

    </div>

