@model RealEstatePro.Models.Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="row">
        <!--Filtreleme-->
        @Html.Action("PartialFilter", "Home")




        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href="/Admin/Index"> Admin Panel</a></li>,,
                        <li class="breadcrumb-item"> <a href="/Status/Index"> Status List</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Status Details</li>
                    </ol>
                </nav>

                <hr />

                <dl class="dl-horizontal">

                    <dl class="dl-horizontal">
                        <dt>
                            Status Name :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status.StatusName)
                        </dd>
                        <hr />
                        <dt>
                            Type Name :
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TypeName)
                        </dd>

                    </dl>

                </dl>
                <hr />
                <a style="margin-left:50px; margin-bottom:10px;" class="btn btn-primary" href="@Url.Action("Edit", new { id = Model.TypeId })">Edit</a>  ||
                <a style="margin-bottom: 10px;" class="btn btn-danger" href="@Url.Action("Delete", new { id = Model.TypeId })">Delete</a>

            </div>

        </div>

    </div>

</div>
