@model RealEstatePro.Models.City


<div class="container">

    <div class="row">
        <!--Filtreleme-->
        @Html.Action("PartialFilter", "Home")




        <br />
        <div class="col-md-9">
            <div class="thumbnail" style="width:845px">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"> <a href=" @Url.Action("Details", "Home", new { id = Model.CityId })   "> Back To Privous Adv  </a></li>
                        <li class="breadcrumb-item active" aria-current="page">Deep Details</li>
                    </ol>
                </nav>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"> @Html.DisplayNameFor(model => model.CityId)</th>
                            <th scope="col">  @Html.DisplayNameFor(model => model.CityName) </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.CityId)
                            </td>

                            <td>
                                @Html.DisplayFor(model => model.CityName)
                            </td>

                        </tr>
                    </tbody>



                </table>

            </div>

        </div>

    </div>

</div>


